PGHOST=localhost
PGPORT=5432
PGUSER=developer
PGPASSWORD=supersecretpassword
PGDATABASE=agw_db
DATABASE_URL=postgresql://developer:supersecretpassword@localhost:5432/agw_db

APP_SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
BACKEND_PORT=5002